header{
    background-color: rgba(202, 188, 188, 0.668);
    color: rgb(235, 8, 144);
}

.cabecalho-imagem{
 width: 70%;
}
.escola-imagem{
    width: 60;
}
.escola{
    background-image: linear-gradient(rgba);
}

.escola-div-conteudo{
    background-color: linear-gradient(#424E61,#4EBFE9);
    color: rgb(4, 69, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Alura-Start{
    background-color: #9913dd;
}