header{
    background-color: rgb(0, 2, 3);
    color: rgb(255, 9, 9);
}

.cabecalho-imagem{
 font-size: x-large;
}
.escola-imagem{
    font-size: larger;
}
.escola{
    background-image: linear-gradient(rgba);
}

.escola-div-conteudo{
    background-color: linear-gradient(#424E61,#4EBFE9);
    color: rgb(4, 69, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Alura-Start{
    background-color: #9913dd;
    font-size: large;
}
.escola-titulo{
    color: red;
}
