header{
    background-color: rgba(108, 103, 103, 0.768);
    color: aliceblue;
}

.cabecalho-imagem{
 width: 50%;
}
.escola-imagem{
    width: 25;
}
.escola{
    background-image: linear-gradient(rgba);
}

.escola-div-conteudo{
    background-color: linear-gradient(#424E61,#4EBFE9);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Alura-Start{
    background-color: #4EBFE9;
}